section
#Activity_city
{
    width: 91%;
    height: 25rem;
    display: grid;
    grid-template-columns: repeat(4,22%); 
    grid-auto-rows: 210px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 25px;
    padding-left: 35px;
    margin-top: 30rem;
}
#Activity_city .caption {
    display: block;
    text-align: left;
    color: black;
    margin-left: 0.8em;
    line-height: 2.5px;
}

.activity_text {
    grid-column: 1/4;
    grid-row: 1;
    height: 80px;
    }    

.activity1 img  {
    width: 18rem;
    height: 23rem;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    background-color: white;
    
}
.activity2 img, .activity6 img  {
    width: 18rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    background-color: white;
    
}
.activity3 img, .activity5 img  {
    width: 18rem;
    height: 8.5rem;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    background-color: white;
    
    
}

.activity4 img  {
    width: 18rem;
    height: 23rem;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    background-color: white;
}






.activity1 {
    border-radius: 20px 20px 20px 20px;
    grid-column: 1;
    grid-row: 2/3;
    width: 18rem;
    height: 23rem;
    padding-bottom: 45px;
    background-color: white;
    box-shadow: 6px 6px 15px black;
}
.activity2 {
    border-radius: 20px 20px 20px 20px;
    grid-column: 2;
    grid-row: 2;
    margin-left: 4rem;
    width: 18rem;
    height: 10rem;
    padding-bottom: 45px;
    background-color: white;
    box-shadow: 6px 6px 15px black;

}
.activity3 {
    border-radius: 20px 20px 20px 20px;
    grid-column: 2;
    grid-row: 3;
    margin-left: 4rem;
    margin-top: 22px;
    width: 18rem;
    height: 8.5rem;
    padding-bottom: 45px;
    background-color: white;
    box-shadow: 6px 6px 15px black;
}
.activity4 {
    border-radius: 20px 20px 20px 20px;
    grid-column: 3;
    grid-row: 2/3;
    margin-left: 8rem;
    width: 18rem;
    height: 23rem;
    padding-bottom: 45px;
    background-color: white;
    box-shadow: 6px 6px 15px black;
}
.activity5 {
    border-radius: 20px 20px 20px 20px;
    grid-column: 4;
    grid-row: 2;
    margin-left: 12rem;
    width: 18rem;
    height: 8.5rem;
    padding-bottom: 45px;
    background-color: white;
    box-shadow: 6px 6px 15px black;
}
.activity6 {
    border-radius: 20px 20px 20px 20px;
    grid-column: 4;
    grid-row: 3;
    margin-left: 12rem;
    width: 18rem;
    height: 10rem;
    padding-bottom: 45px;
    background-color: white;
    box-shadow: 6px 6px 15px black;
}




