footer {
    font-family: 'Raleway', sans-serif;
    margin-top: 4rem;
    padding-left: 1.5rem;
    padding-top: 4.5rem;
}
#footer {
    display: grid;
    grid-template-columns: 35% repeat(3, 35%);
    grid-gap: 1px;
    grid-auto-rows: auto;
    justify-content: left;
    width: 97%;
    height: 150px;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    padding-right: 15px;
    padding-bottom: 45px;
    padding-top: 15px;
    padding-left: 35px;
    line-height: 2em;
    }
.Apropos {
    grid-column: 1;
    grid-row: 1;

}
.Nos_hébergements {
    grid-column: 2;
    grid-row: 1;
}
.Assistance {
    grid-column: 3;
    grid-row: 1;
    
}